.body {
  margin: 1rem;
}
.grid {
  display: grid;
  grid-row-gap: 0.5rem;
}
.gridRow {
  display: grid;
  grid-template-columns: 200px repeat(34, 28px);
}
.gridRow > div:first-of-type {
  align-self: center;
  font-weight: bold;
  text-align: right;
  margin-right: 1rem;
  font-size: 14px;
}
.gridRow > div:nth-child(2) {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.gridRow > div:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.gridRow > div:not(:first-of-type) {
  padding: 0.25rem;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border-right: 1px solid rgb(181, 181, 181);
  position: relative;
  cursor: pointer;
}
.gridRow > div[data-home="home"] {
  text-decoration: underline;
}
.gridRowHeaderCell {
  color: black !important;
}
.W {
  background-color: #8cca7a;
}
.L {
  background-color: #f3968f;
}
.D {
  background-color: #f9c389;
}
.NA {
  background-color: rgb(213, 213, 213);
}

.matchDetails {
  position: absolute;
  background: white;
  border: 2px solid lightgrey;
  padding: 0.5rem 2rem;
  margin: 0;
  color: black;
  text-align: left;
  left: 25px;
  z-index: 100;
  width: 15rem;
  font-style: normal;
}
