.body {
  margin: 1rem;
}
.grid,
.gridWide,
.gridExtraWide {
  display: grid;
  grid-row-gap: 0.125rem;
}
.gridRow {
  display: grid;
  grid-template-columns: 25px 160px repeat(40, 32px);
}
.gridRow > :first-child:empty {
  width: 1px;
}
.gridWide .gridRow {
  grid-template-columns: 25px 160px repeat(40, 40px);
}
.gridExtraWide .gridRow {
  grid-template-columns: 25px 160px repeat(40, 50px);
}
.gridXXWide .gridRow {
  grid-template-columns: 25px 160px repeat(40, 60px);
}
.gridRow > a[data-home="home"] {
  text-decoration: underline;
}
.gridRowHeaderCell {
  text-align: center;
  font-size: 9pt;
  font-weight: bold;
  cursor: pointer;
}

.matchDetails {
  position: absolute;
  opacity: 1;
  filter: none;
  margin: 0;
  text-align: left;
  left: 25px;
  z-index: 100;
  font-style: normal;
}
.matchDetailsOpponent {
  display: flex;
  justify-content: flex-start;
}
.matchDetailsLogo {
  margin-right: 0.25rem;
  height: 50px;
  width: 50px;
  position: relative;
}

.chart {
  display: grid;
  grid-row-gap: 0.125rem;
}
.chartRow {
  display: grid;
  grid-template-columns: 25px 200px repeat(auto-fit, 28px);
  height: 30px;
}
.chartWide .chartRow {
  grid-template-columns: 25px 200px repeat(auto-fit, 40px);
}
.chartTeamSmall {
  font-size: 9pt;
  font-weight: bold;
  align-items: baseline;
  text-align: right;
  padding-right: 0.5rem;
  align-self: center;
}
.chartRow > :not(.chartTeam) {
  position: relative;
}
.chartPointText {
  position: relative;
  display: block;
  text-align: center;
  z-index: 10;
  font-size: 12px;
}

.gridFilledGrey {
  background-color: #e0e0e0;
  text-align: center;
}
