.Nav,
.ExternalNav,
.Footer,
.Changelog {
  --nav-color: #4c7241;
}

.ExternalNav {
  display: grid;
  grid-template-columns: repeat(12, max-content);
  margin: 1rem;
  grid-column-gap: 1rem;
}

.Changelog {
  font-size: 9pt;
}

.ExternalNav a {
  color: var(--nav-color);
}
